/*/target
/*/.classpath
/*/.project
/*/*.iml
/*/.lib
/*/.settings
/*/.store
/*/conf
/*/log
/*/recoveryfileAlert.dat
/*/buildNumber.properties
sys$command
*.class
target
.classpath
.project
.settings
*.iml
.idea
.log